<nav class="navbar navbar-inverse">
  <div class="row">
    <div class="container-fluid col-sm-8 col-sm-offset-2">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="#"><img src="http://stc-tv.zing.vn/skins/tv_v3/images/logo.jpg"></a>
        </div>
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
            </div>
          </div>
        </form>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="http://login.me.zing.vn/">Me</a></li>
            <li class="active"><a href="#">TV</a></li>
            <li><a href="http://mp3.zing.vn/">MP3</a></li>
            <li><a href="http://news.zing.vn/">New</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-off"></span> Tắt quảng cáo</a></li>
            <li><app-login></app-login></li>
            <li><app-register></app-register></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>