<footer class="container-fluid text-center" style="background-color: black ; color: white">
  <div class="row">
    <div class="container-fluid col-sm-10 col-sm-offset-1">
      <div class="row">
        <app-footer-info></app-footer-info>
      </div>
      <hr>
      <div class="container-fluid col-sm-6" style="text-align: left">
        Giấy phép MXH số 273/GP-BTTTT.<br>
        Công ty chủ quản: Công ty cổ phần VNG <br>
        322B Lý Thường Kiệt, Phường 14, Quận 10, TP. Hồ Chí Minh.
      </div>
      <div class="container-fluid col-sm-6" style="text-align: right">
        Được chứng nhận bởi
        <a href="https://servicesdirectory.withyoutube.com/" class="fa fa-youtube-square" style="font-size: 35px"></a>
      </div>
    </div>
  </div>
</footer>