  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="http://zingtv-photo-td.zadn.vn/channel/7/f/7f3ec6e730e6bbd2a67a36d3d39889be_1499245817.jpg" style="width: 1600;height: 450">
        <div class="carousel-caption">
          <span>Mặt Nạ Quân Chủ</span>
        </div>
      </div>

      <div class="item">
        <img src="http://zingtv-photo-td.zadn.vn/channel/7/d/7dafd15971106354b9148316b63e0257_1499245814.jpg">
        <div class="carousel-caption">
          <span>Thiên Tài Lang Băm</span>
        </div>
      </div>

      <div class="item">
        <img src="http://zingtv-photo-td.zadn.vn/channel/1/0/1042d206e816134847b3050bf383f888_1499253841.jpg">
        <div class="carousel-caption">
          <span>Cô Dâu Thuỷ Thần</span>
        </div>
      </div>

      <div class="item">
        <img src="http://zingtv-photo-td.zadn.vn/channel/0/f/0f2f9b89dc19cc5dce61e0159bb71717_1499245819.jpg">
        <div class="carousel-caption">
          <span>Tác Giả Đào Hoa</span>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>