<div class="container-fluid bg-3 text-center">
  <div class="row" *ngFor="let item of data; let i = index">
    <app-title-bar [title]="item.title"></app-title-bar>
    <div class="row">
      <div class="col-md-4">
        <app-subtray [data]="item?.data[0]"></app-subtray>
      </div>
      <div class="col-md-8">
        <div *ngFor="let movie of item.data; let movieIndex = index">
          <app-subtray-item [data]="movie" *ngIf="movieIndex > 0"></app-subtray-item>
        </div>
      </div>
    </div>
  </div>
</div>