<a data-toggle="modal" data-target="#myModal">Đăng nhập</a>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Đăng nhập</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary btn-lg btn-block">Đăng nhập bằng Zalo</button>
        <br>
        <p>Vui lòng chuyển đổi tài sản cũ và thông tin VIP từ Zing ID sang tài khoản Zalo</p>
        <br>
        <button type="button" class="btn btn-default btn-lg btn-block">Chuyển khoản sang tài khoản Zalo</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>