<!--header-->
<app-header></app-header>
<app-header-second></app-header-second>
<!--body-->
<!--slideshow-->
<div class="container container__custom">
	<app-carousel></app-carousel>
	<!--content-->
	<!--<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-thumbs-up" style="margin-right: 10px"></i>Like 564k</button>-->
	<!--<button type="button" class="btn btn-danger"><i class="fa fa-youtube-play"  style="font-size:20px ; margin-right: 10px"></i>Youtube</button>-->
	<app-section-row></app-section-row>
</div>

<!--footer-->
<app-footer></app-footer>