.container__custom
    width: 1500px
    background-color azure
a
    text-decoration none
    display inline-block
    padding 8px 16px

a:hover
    background-color #4CAF50
    color black

.previous
    background-color #f1f1f1
    color black

.next
    background-color #ddd
    color white
button
    align right