<div class="col-md-3 movie--small">
	<div class="description">
		<p>{{data?.title}} </p>
		<p class="dessub">{{data?.subtitle}}</p>
	</div>
	<img src="{{data?.avatar?.url}}" style="width:100%">
</div>