<nav class="navbar navbar-default">
  <div class="row">
    <div class="container-fluid col-sm-8 col-sm-offset-2">

      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Phim Truyền Hình</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">
                    <table class="table table-bordered">
                      <tr>
                        <td *ngFor="let category1 of categories1">{{category1}}</td>
                      </tr>
                      <tr>
                        <td *ngFor="let category2 of categories2">{{category2}}</td>
                      </tr>
                      <tr>
                        <td *ngFor="let category3 of categories3">{{category3}}</td>
                      </tr>
                      <tr>
                        <td *ngFor="let category4 of categories4">{{category4}}</td>
                      </tr>
                    </table>
                  </a>
                </li>
              </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">TV Show</a>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Hoạt Hình</a>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Hài Hước</a>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Thiếu Nhi</a>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Giáo Dục</a>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Phim Điện Ảnh</a>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Âm Nhạc</a>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
              </li>
              <li><a href="http://tv.zing.vn/c/danet"><img src="http://stc-tv.zing.vn/skins/tv_v3/images/danet_logo2.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>