<a data-toggle="modal" data-target="#myModal2">Đăng Ký</a>

<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Đăng Ký</h4>
      </div>
      <div class="modal-body">
        <form role="form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

          <div class="form-group">
            <input type="ten" class="form-control" minlength="2" maxlength="40" required name="name" placeholder="Họ và tên" #name="ngModel"
              ngModel/>
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
              <div [hidden]="!name.errors.required">
                Vui lòng nhập họ tên thật và chính xác từ 2 đến 40 kí tự.
              </div>
              <div [hidden]="!name.errors.minlength">
                Tên phải lớn hơn 2 kí tự
              </div>
              <div [hidden]="!name.errors.maxlength">
                Tên không được vượt quá 40 kí tự
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="user" class="form-control" placeholder="Tên đăng nhập" required name="user" #user="ngModel"
              ngModel/>
            <div *ngIf="user.errors && (user.dirty || user.touched)" class="alert alert-danger">
              <div [hidden]="!user.errors.required">
                Bạn cần nhập thông tin này
              </div>
            </div>
            <button class="btn btn-primary">Kiểm Tra</button>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" placeholder="Mật khẩu" minlength="6" maxlength="32" required name="pass" #pass="ngModel"
              ngModel/>
            <div *ngIf="pass.errors && (pass.dirty || pass.touched)" class="alert alert-danger">
              <div [hidden]="!pass.errors.required">
                Bạn cần nhập thông tin này
              </div>
              <div [hidden]="!pass.errors.minlength">
                Mật khẩu quá yếu!
              </div>
              <div [hidden]="!pass.errors.maxlength">
                Mật khẩu quá dài!
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="repassword" class="form-control" placeholder="Xác nhận mật khẩu" required name="repass" #repass="ngModel"
              ngModel/>
            <div *ngIf="repass.errors && (repass.dirty || repass.touched)" class="alert alert-danger">
              <div [hidden]="!repass.errors.required">
               Bạn cần nhập thông tin này
              </div>
            </div>
          </div>
          <div class="form-group">
            <!--<input type="date" max="2016-01-01" min="1900-01-01">-->
            <select> <option value="-1">[Ngày]</option> <option value="1" selected >1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option> <option value="11">11</option> <option value="12">12</option> <option value="13">13</option> <option value="14">14</option> <option value="15">15</option> <option value="16">16</option> <option value="17">17</option> <option value="18">18</option> <option value="19">19</option> <option value="20">20</option> <option value="21">21</option> <option value="22">22</option> <option value="23">23</option> <option value="24">24</option> <option value="25">25</option> <option value="26">26</option> <option value="27">27</option> <option value="28">28</option> <option value="29">29</option> <option value="30">30</option> <option value="31">31</option></select>
            <select>
              <option value="1">Tháng 1</option>
              <option value="2">Tháng 2</option>
              <option value="3">Tháng 3</option>
              <option value="4">Tháng 4</option>
              <option value="5">Tháng 5</option>
              <option value="6">Tháng 6</option>
              <option value="7">Tháng 7</option>
              <option value="8">Tháng 8</option>
              <option value="9">Tháng 9</option>
              <option value="10">Tháng 10</option>
              <option value="11">Tháng 11</option>
              <option value="12">Tháng 12</option>
            </select>
            <select><option value="2017">2017</option> <option value="2016">2016</option> <option value="2015">2015</option> <option value="2014">2014</option> <option value="2013">2013</option> <option value="2012">2012</option> <option value="2011">2011</option> <option value="2010">2010</option> <option value="2009">2009</option> <option value="2008">2008</option> <option value="2007">2007</option> <option value="2006">2006</option> <option value="2005">2005</option> <option value="2004">2004</option> <option value="2003">2003</option> <option value="2002">2002</option> <option value="2001">2001</option> <option value="2000">2000</option> <option value="1999">1999</option> <option value="1998">1998</option> <option value="1997">1997</option> <option value="1996">1996</option> <option value="1995" selected >1995</option> <option value="1994">1994</option> <option value="1993">1993</option> <option value="1992">1992</option> <option value="1991">1991</option> <option value="1990">1990</option> <option value="1989">1989</option> <option value="1988">1988</option> <option value="1987">1987</option> <option value="1986">1986</option> <option value="1985">1985</option> <option value="1984">1984</option> <option value="1983">1983</option> <option value="1982">1982</option> <option value="1981">1981</option> <option value="1980">1980</option> <option value="1979">1979</option> <option value="1978">1978</option> <option value="1977">1977</option> <option value="1976">1976</option> <option value="1975">1975</option> <option value="1974">1974</option> <option value="1973">1973</option> <option value="1972">1972</option> <option value="1971">1971</option> <option value="1970">1970</option> <option value="1969">1969</option> <option value="1968">1968</option> <option value="1967">1967</option> <option value="1966">1966</option> <option value="1965">1965</option> <option value="1964">1964</option> <option value="1963">1963</option> <option value="1962">1962</option> <option value="1961">1961</option> <option value="1960">1960</option> <option value="1959">1959</option> <option value="1958">1958</option> <option value="1957">1957</option> <option value="1956">1956</option> <option value="1955">1955</option> <option value="1954">1954</option> <option value="1953">1953</option> <option value="1952">1952</option> <option value="1951">1951</option> <option value="1950">1950</option> <option value="1949">1949</option> <option value="1948">1948</option> <option value="1947">1947</option> <option value="1946">1946</option> <option value="1945">1945</option> <option value="1944">1944</option> <option value="1943">1943</option> <option value="1942">1942</option> <option value="1941">1941</option> <option value="1940">1940</option> <option value="1939">1939</option> <option value="1938">1938</option> <option value="1937">1937</option> <option value="1936">1936</option> <option value="1935">1935</option> <option value="1934">1934</option> <option value="1933">1933</option> <option value="1932">1932</option> <option value="1931">1931</option> <option value="1930">1930</option> <option value="1929">1929</option> <option value="1928">1928</option> <option value="1927">1927</option> <option value="1926">1926</option> <option value="1925">1925</option> <option value="1924">1924</option> <option value="1923">1923</option> <option value="1922">1922</option> <option value="1921">1921</option> <option value="1920">1920</option></select>
          </div>
          <div class="form-group">
            <label>Giới tính: </label>
            <input type="radio" name="gender" value="1">Nam
            <input type="radio" name="gender" value="0">Nữ
          </div>
          
          <div class="form-group">
            <label>Bằng việc click vào các nút Đăng ký bạn đã <br> đồng ý Điều khoản sử dụng</label>
            <button type="button" [disabled]="!userForm.valid" class="btn btn-default" data-dismiss="modal">Đăng Ký</button>
          </div>

          <div class="modal-footer">
            <label>hoặc Đăng ký tài khoản với </label><br>
            <button class="btn btn-primary"><a href="facebook.com">Facebook</a></button>
            <button class="btn btn-danger"><a href="gmail.com">Google</a></button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

